<div class="addon grid">
    <form method="post" action="/" class="form">
        <div class="form-name row">
            <%= console.log(errorMessages) %>
            <label class="col-2">Nafn*: </label>
            <input type="text" name="name" id="name" class="col-10">
        </div>
        <div class="form-id row">
            <label class="col-2">Kennitala*: </label>
            <input type="text" name="nationalId" id="nationalId" class="col-10">
        </div>
        <div class="form-area row">
            <label class="col-2">Athugasemd: </label>
            <textarea type="textarea" id="message" name="text" class="col-10"></textarea>
        </div>
        <div class="form-box row">
            <div class="form-box-container">
                <input type="checkbox" name="check" id="check">
                <label>Ekki birta nafn รก lista</label>
            </div>
        </div>
        <input type="submit" value="Skrifa undir" class="row form-submit">
    </form>
</div>
<div class="grid">
    <% if(errorMessages !== '') { %>
        <ul>
            <% errorMessages.forEach((error) => { %>
                <li><%= error %></li>
            <% }) %> 
        </ul>
    <% } %> 
</div>